fastapi
uvicorn[standard]
pymupdf4llm
python-dotenv
langchain
langchain-community
langchain-openai
pinecone-client
langchain-pinecone
numpy
loguru
openai
python-multipart
tiktoken
tenacity
redis
celery
pydantic-settings
camelot-py[cv]
pdfplumber
opencv-python-headless
pytesseract
Pillow
pandas
PyYAML
tabulate
psutil