fastapi
uvicorn[standard]
pymupdf4llm
python-dotenv
langchain
langchain-community
langchain-openai>=0.1.7
chromadb
langchain-chroma
numpy
loguru
openai
python-multipart
tiktoken>=0.7.0
tenacity
redis
celery
pydantic-settings